body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fcf3f2;
    color: #7b3e19;
    margin: 0;
    padding: 0;
}
.conteneur{
    max-width: 800px;
    margin: 40px auto;
    background-color: #f8d4d4;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(175,140,130,0.1);
}
h2{
    text-align: center;
    color: #b07b77;
    font-size: 2em;
    margin-bottom: 25px;
}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(180,130,130,0.15);
    margin-bottom: 20px;
}
.section-titre{
    font-weight: bold;
    font-size: 1.3em;
    color: #8c5d58;
    border-bottom: 2px solid #e8cfcf;
    padding-bottom: 6px;
    margin-top: 30px;
}
ul,ol {
    margin-left: 20px;
    margin-top: 12px;
}
li {
    margin-bottom: 8px;
    line-height: 1.6;
}
.info{
    text-align: center;
    margin-top: 30px;
    font-size: 1em;
    color: #6d4b44;
    padding: 12px;
    border-radius: 10px;
    border: 1px dashed #d9b8b8;
}