body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: black;

}
header{
    background-color: #cd853f;
    color: whitesmoke;
    padding: 20px;
    align-items: right;
    display: flex;
    text-align:right;
}

h2{
    text-align: center;
    color: darkgoldenrod;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #f5deb3;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
}
div{
    text-align: center;
    
}
.side-menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}
.side-menu a{
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    display: block;
}
.side-menu.closebtn{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
}
.search-bar{
    width: 80%;
    padding: 8px;
    margin: 10px 20px ;
}
main{
    padding: 20px;
}
.categorie{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.categorie a {
    flex: 1 1 calc(36%-20px);
    text-align:center;
    text-decoration: none;
    color:#333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.categorie img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.categorie a:hover {
    box-shadow: 0 8px 20px rgba (111,78,55,0.4);
    transform: translateY(-5px);
}
/*responsive:2 par ligne*/
@media(max-width:768px){
    .categorie a {
        flex: 1 1 calc(50%-20px);
    }
}
/*responsive:1 par ligne*/
@media(max-width:480px){
    .categorie a {
        flex:1 1 100%;
    }
}