body{
    background-color:rgba(90, 118, 63, 0.3);
    font-family:'Segoe UI', sans-serif;
    margin: 0;
    padding: 60px 20px;
    color: #2e2e2e;
}
p{
    font-size: 20px;
    line-height: 2;
}
.box{
    max-width: 600px;
    border-left: 5px solid #a67c52;
    padding: 30px;
    background-color:rgba(166, 124, 82, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease ;
    background-color: rgba(255, 255, 240, 0.726);
}
.box:hover{
    transform:translateY(-5px) ;
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
    background-color: rgba(166, 124, 82, 0.1);

}
.conteneur{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1100px;
    margin:auto;
}
img{
    width: 350px;
    border: 5px solid #a67c52;
    box-shadow: 0 4px 12px rgba(0,0,0, 0.1);
    border-radius:10px;
}
@media (max-width:768px) {
    .conteneur{
        flex-direction: column;
        text-align: center;
    }
    .box{
        border-left: none;
        border-top: 5px solid #a67c52;
    }
}