body{
    background-color:burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: large;
    font-weight: 300;
}
.box{
    width: 800px;
    height:600px;
    padding: auto;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(236, 192, 97, 0);
    transition:  transform 0.3s ease, box-shadow 0.3s ease ;
    text-align: center;
}

.conteneur{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
img{
    width: 400px;
    height:400px;
    align-items: center;
    border-radius:20%; 
}
ul a {
    border: 30px;
    text-decoration: none;
    color: black;
}
