h1{
    background-color:#e6f8ca;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:2rem;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 10px;

}
body{
    background-color:#bfc9b1;
    line-height: 10px;
}
li{
    line-height: 30px;
    margin: 10px;
    font-weight: 50;
    text-align: center; 
    background-color:#b3c49b;
    color:rgb(163,163,93);
    border-radius: 15px;
    padding: 20px;
    list-style: none;
    

}
li:hover{
    background: linear-gradient(90deg,#d6ecb7 60%,#e6f8ca 100%);
    transform: translateY(-2px) scale(1.04);
    box-shadow: 0 5px 10px;
    
}
li a {
    color:white;
    font-weight: 900;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}